.pcd-viewer,
.pcd-viewer-placeholder {
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid rgba(212, 175, 55, 0.3);
  background: var(--color-black);
}

.pcd-canvas {
  width: 100%;
  height: 100%;
}

.pcd-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  pointer-events: none;
  z-index: 10;
}

.pcd-info p {
  font-family: var(--font-body);
  font-size: 1rem;
  color: rgba(212, 175, 55, 0.8);
  margin-bottom: 0.5rem;
}

.pcd-info .hint {
  font-size: 0.85rem;
  color: rgba(224, 224, 224, 0.5);
}
